body{
    font-size: 16px;
    background-image: url("https://th.bing.com/th/id/R.7d91489f29b1daceeaba0ae4c25920d8?rik=0cqJWV61A5CgCg&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0
}



.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    width: 100vw;
    height: 80px;
}

button {
    font-size: 1.5rem;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #252525;
    /* box-shadow: 3px 3px #fafafa; */
    cursor: pointer;
    margin: 35px 0;
  }
  
  button:active {
    box-shadow: none;
    transform: translate(3px, 1px);
    background-color:white
    ;color: black;
  }

  button:hover {
   scale:1.1
  }


.container {
    width: 100%;
    height: 100%;
    --s: 60px;
    --c1: #180a22;
    --c2: #5b42f3;
    --_g: radial-gradient(
      25% 25% at 25% 25%,
      var(--c1) 99%,
      rgba(0, 0, 0, 0) 101%
    );
    background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
        calc(2 * var(--s)),
      var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
      radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
        var(--s),
      repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
        calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
  }
  

  *{background-color: red;}