/* Fondo */
body {
  --s: 40px;
  --b: 18px;

  height: 100vh;
  margin: 0;
  background: #c0c0c0; /* Fondo gris */
  overflow: hidden;
}

/* Barra superior */
.top-bar {
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

/* Barra principal */
.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white; /* Fondo blanco */
  color: black; /* Texto negro */
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Logo */
.logo p {
  font-family: "Georgia", serif;
  font-size: 24px;
  font-weight: 400;
  color: black; /* Texto negro */
  margin: 0;
}

.logo em {
  font-style: italic;
  text-decoration: underline;
}

/* Menú de navegación */
.barra {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.opcion {
  text-decoration: none;
  color: black; /* Texto negro */
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease; /* Solo animación del color */
}

.opcion:hover {
  color: red; /* Cambia el color del texto a rojo al pasar el mouse */
}
